<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>ICCN2022-第二届整合包设计大赛</title>


    

    <!-- Bootstrap core CSS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="stylesheets/product.css" rel="stylesheet">
  </head>
  <body>
    
<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      <img src="images/logo.png" width="24" height="24"/>
    </a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#introduce">简介</a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#rule">规则</a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#theme">主题</a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#date">日程</a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#judge">评委</a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#join">报名</a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#award">奖项</a>
    <a class="py-2 d-none d-md-inline-block" style="font-family: 楷体; font-weight:bolder;font-size: 22px;" href="#about">关于</a>
  </nav>
</header>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image:url('images/sun.png');background-size: 50%; background-position-x:right; background-repeat:no-repeat; ">
    <div class="p-lg-5 mx-auto my-5">
      <h1 style="font-family: fzsu;">第二届内核整合包设计大赛</h1>
      <h2 style="font-weight:bolder; font-family: fzsu;">ICCN 二〇二二</h2>
      <h3 style="color:rgb(192, 6, 6);font-weight:bolder; font-family: fzsu;">热爱创造世界</h3>
      <a class="btn btn-outline-secondary"  style="font-family: 楷体;font-weight: bolder;font-size: 23px;" href="#join">立即报名</a>
    </div>
  </div>

  <div id="introduce" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-center">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">简介</h2>
    <p style="font-family: 楷体; font-size: 22px;text-align:left; text-indent: 2em;">
      为了激起Minecraft基岩版社区模组创作者的创作热情，为了更好地维护基岩版社区的创作环境，InnerCore 整合包设计大赛组委会（以下简称组委会）发起了InnerCore 整合包设计大赛（以下简称整合包大赛）。本次大赛为寒假第二届。
    </p>
  </div>
  </div>
  <div id="rule" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">规则</h2>
    
    <p style="font-family: 楷体; font-weight:bolder;font-size: 22px;">参赛方式</p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      比赛开始时间为2022年1月1日凌晨0:00，结束时间为2020年2月15日中午12:00。报名开始时（会比开始时间稍晚），组委会会给出具体的报名方法与地址，最晚报名截止时间与比赛的结束时间相同。只要在比赛结束之前成功报名并成功发布自己的参赛作品即为完成参赛。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">本赛事可以由团队或个人（即1个人的团队）为单位报名参加，团队内人数不限。</p>
    <p style="font-family: 楷体; font-weight:bolder;font-size: 22px;">比赛方式</p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      在比赛开始时，即2022年1月1日凌晨0:00，组委会会给出本次参赛的主题。参赛者根据主题自行拟定整合包内容。自上述开始时间开始即为正式比赛的开始，参赛者需要在45天内完成自己整合包的创作，并完成以下内容：
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;"> 
      1.在Inner Core中文论坛https://forum.adodoz.cn/中以发帖的形式发布自己的整合包成品，帖内必须包含：本整合包的介绍、使用本整合包的具体方法、位于显眼处的“本整合包参与ICCN2022整合包设计大赛”这一句话，并请务必带上“整合包设计大赛”标签。帖内其余内容由参赛者自行决定。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;"> 
      2.在本网站报名并提交整合包作品。报名及提交入口将在后续开放。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      3.在b站发布自己作品的宣传视频,并带上#模组集结挑战#标签。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      4.（可选）向ICMod官网https://icmods.mineprogramming.org/投递自己的作品，为加分项。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      5.（可选）在MCBBS基岩版软件资源专区发布自己的作品，为加分项。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; font-weight:bolder;text-indent: 2em;">
      在结束时间2022年2月15日中午12:00前，请务必完成上述第1、第2、第3项。未完成者视为放弃比赛。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      一个团队或个人可以有多个作品参赛，分开计算分数和奖项。模组可以在截止时间前进行多次更新，评比以最后一次更新为准。
    </p>
    <p style="font-family: 楷体; font-weight:bolder;font-size: 22px;">评比方式</p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      本赛事采取评委小组评比和群众评比相结合的方式。评委小组占比70%，群众评比占比 30%，最终的分数进行加权，并排名得出最终的获奖者。本赛事还设有个别特别奖，特别奖由评委小组全权钦定。
    </p>
    
  </div>
  
  </div>
  <div id="theme" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-center">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">主题</h2>
    <p style="font-family: 楷体; font-size: 22px;text-align:left; text-indent: 2em;">
      本届比赛的主题为：“舌尖上的龙”。  
    </p>
  </div>
  </div>
  <div id="date" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-center">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">日程</h2>
    <p style="font-family: 楷体; font-size: 22px;text-align:left; text-indent: 2em;">
      2022/1/1 比赛主题公布 “舌尖上的龙”
    </p>
    <p style="font-family: 楷体; font-size: 22px;text-align:left; text-indent: 2em;">
      ... ...
    </p>
  </div>
  </div>
  <div id="judge" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-center">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">评委</h2>
    <br>
    <div class="row">
      <div class="col-md">
        <img src="images/hanjia.jpg" width="48" height="48"/>
        <p style="font-weight:bolder; font-family: 楷体;font-size: 22px;">方法放寒假</p>
      </div>
      <div class="col-md">
        <img src="images/maisui.jpg" width="48" height="48"/>
        <p style="font-weight:bolder; font-family: 楷体;font-size: 22px;">麦穗</p>
      </div>
      <div class="col-md">
        <img src="images/pvhu.jpg" width="48" height="48"/>
        <p style="font-weight:bolder; font-family: 楷体;font-size: 22px;">pv糊</p>
      </div>
      <div class="col-md">
        <img src="images/weifeng.jpg" width="48" height="48"/>
        <p style="font-weight:bolder; font-family: 楷体;font-size: 22px;">微风糖糖</p>
      </div>
  </div>
  </div>
  <div id="join" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-center">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">报名</h2>
    <p style="font-family: 楷体; font-size: 22px;text-align:left; text-indent: 2em;">
      报名入口后续开放。请持续关注本网站并加入比赛qq群1004122497。
    </p>
  </div>
  </div>
  <div id="award" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-center">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">奖项</h2>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      基本奖：（奖品后续公布。）
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 4em;">
      一等奖 前5%，至少一名。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 4em;">
      二等奖 前5%至前15%，至少一名。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 2em;">
      特别奖：（奖品后续公布。）
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 4em;">
      兼收并蓄奖  一名，模组数量最多但仍然能够稳定运行的可夺得此奖项。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 4em;">
      短小精悍奖  一名，以“最终得分÷模组数量”为排序的第一名可夺得此奖项。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 4em;">
      原创开发奖  一名，原创开发成分最高的作品可夺得此奖项。
    </p>
    <p style="font-family: 楷体;font-size: 22px;text-align:left; text-indent: 4em;">
      最具混沌奖  一名，以“带命令块的《我的世界》”为排序的第一可夺得此奖。
    </p>
  </div>
  </div>
  <div id="about" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-center">
    <div class="col-md-9 p-lg-5 mx-auto">
    <h2 style="font-weight:bolder; font-family: fzsu;">关于</h2>
    <p style="font-family: 楷体; font-size: 22px;text-align:left; text-indent: 2em;">
      Inner Core是一个从当年的因式分解（工厂化）和Core Engine发展而来的功能强大的API，至今还在不断更新之中，其功能复杂性已经远超当年的附属Block Launcher；整体而言网易的ModSDK的功能与之相比也稍逊一筹。组委会所隶属的Inner Core中文社区（ICCN）是与Inner Core的官方#Mineprogramming社区有合作关系的中国玩家和模组代理社区。与此同时她也是本次大赛的主办方。
    </p>
  </div>
</main>

<footer class="container py-5">
  <div class="row">
    <div class="col-md">
      <img src="images/logo.png" width="24" height="24"/>
      <small class="d-block mb-3 text-muted">&copy; 2019–2022</small>
      
    
  </div>
  <div class="col-6 col-md">
    <h5>友情链接</h5>
    <ul class="list-unstyled text-small">
      <li><a class="link-secondary" href="https://adodoz.cn/">InnerCore 中文社区</a></li>
      <li><a class="link-secondary" href="https://dev.adodoz.cn/">ICCN 汉化组</a></li>
      <li><a class="link-secondary" href="https://wiki.bedev.cn/">Minecraft基岩版开发Wiki</a></li>
      <li><a class="link-secondary" href="https://icmods.mineprogramming.org/">InnerCore Mods</a></li>
    </ul>
  </div>
</div>
</footer>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
